#Общий игнор bin/ если есть
bin/
# О object-файлы
*.o
# Зависимости
*.d
# Исполняемый файл
chess
# Библиотеки
libchess.a
# Остальное — скрытые файлы IDE, редакторы и т.п.
.vscode/
.idea/
*.swp
.DS_Store
*.stackdump
